<div>
<h1>Courses</h1>
</div>

<div>
<% if @takens != nil %>
	<% @takens.each do |taken| %>
	<div>
		<span> <%= Course.find_by(id: taken.course_id).course_name %> </span>
        <% if taken.grade!=nil then %> <span> <%=taken.grade%></span><%end%>
        <% if taken.unit!=nil then %> <span> <%=taken.unit%></span><%end%>
    </div>
    <% end %>
<% end %>
</div>
