<!DOCTYPE html>
<html>
<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:300px;
    float:left;
    padding:5px;        
}
#section {
    width:350px;
    float:left;
    padding:10px;    
}
#aside {
    width:30px;
    background-color:#eeeeee;
    height:600px;
    width:300px;
    float:right;
    padding:5px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;    
}
</style>
</head>
<body>

<div id="header">
<h1>GraduAid</h1>
</div>

<div id="nav">
<a href=>CS-HCI</a><br>
CS-Info<br>
CS-AI
</div>

<div id="section">
<h2>CS-HCI</h2>
<p>Your classes</p>
<p>Take more classes</p>
</div>

<div id="aside">
<h3>Potential Classes</h3>
</div>

<div id="footer">
GraduAid
</div>

</body>
</html>