/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*@font-face {
    font-family: 'kbdunktankmedium';
    src: url('kbdunktank-webfont.eot');
    src: url('kbdunktank-webfont.eot?#iefix') format('embedded-opentype'),
         url('kbdunktank-webfont.woff2') format('woff2'),
         url('kbdunktank-webfont.woff') format('woff'),
         url('kbdunktank-webfont.ttf') format('truetype'),
         url('kbdunktank-webfont.svg#kbdunktankmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
 @font-face {
    font-family: 'jackpot_demoregular';
    src: url('jackpot_demo-webfont.eot');
    src: url('jackpot_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('jackpot_demo-webfont.woff2') format('woff2'),
         url('jackpot_demo-webfont.woff') format('woff'),
         url('jackpot_demo-webfont.ttf') format('truetype'),
         url('jackpot_demo-webfont.svg#jackpot_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*@font-face {
  font-family: 'Harabara-Mais-Demo';
  src: url('/assets/fonts/Harabara-Mais-Demo.otf') format('opentype');
  font-weight: bold;
}*/
.logo-font {
    font-family: 'jackpot_demoregular';
}
div#headerBlock {
    background-color:black;
    color:white;
}
table#headerTable {
    width: 100%;
}
td#header {
    text-align: left;
}
td#greeting {
    text-align: center;
}
td#navigator {
  text-align: right;
}
a#header {
  text-decoration: none;
  white-space: nowrap;
  color: white;
}

a#navigator {
  text-align:right;
  text-decoration: none;
  white-space: nowrap;
  color: white;
}
a#navigator:hover {
  color: #EC4F55;
}
.sidebar-title {
    margin-top: 30px
}
.sidebar-list {

}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.no-deco { 
    text-decoration:none;
    color: inherit; 
}

/*#header {
    background-color:black;
    color:white;
    text-align:left;
    padding:5px;
}*/
/*#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:300px;
    float:left;
    padding:5px;        
}*/
#section {
    width:600px;
    height:600px;
    float:left;
    padding:10px;
    margin-left:25%;
    padding:1px 16px;
}
/*#aside {
    width:30px;
    background-color:#eeeeee;
    height:600px;
    width:300px;
    float:right;
    padding:5px;
}*/
/*#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;    
}
*/
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/

/*div#headerBlock {
    background-color:black;
    color:white;
}
table#headerTable {
    width: 100%;
}
td#header {
    text-align: left;
}
td#greeting {
    text-align: center;
}
td#navigator {
  text-align: right;
}
a#header {
  text-decoration: none;
  white-space: nowrap;
  color: white;
}

a#navigator {
  text-align:right;
  text-decoration: none;
  white-space: nowrap;
  color: white;
}
a#navigator:hover {
  color: red;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.no-deco { 
    text-decoration:none;
    color: inherit; 
}
*/
/*#header {
    background-color:black;
    color:white;
    text-align:left;
    padding:5px;
}*/
/*#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:300px;
    float:left;
    padding:5px;        
}*/
/*#section {
    width:600px;
    height:600px;
    float:left;
    padding:10px;
    margin-left:25%;
    padding:1px 16px;
}*/
/*#aside {
    width:30px;
    background-color:#eeeeee;
    height:600px;
    width:300px;
    float:right;
    padding:5px;
}*/
/*#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;    
}
*/
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/

