// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#profile, #major_1, #major_2, #classes {
	margin: 20px;
}

html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
    margin-bottom: 20px;
    min-width: 90%;
    width: 100%;
}

.rowfill {
    min-height: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.inline {
  display: inline-block;
}

div.stepButton {
	text-align: center;
}

.center_align {
  text-align: center;
}

.login_tr {
  height: 50px;
}

.login_td {
  width: 300px;
  height: 42px;
  font-size: 16px;
}

.padding_tr {
  height: 5px;
}

.registerButton {
  background: #6f8594;
  background-image: -webkit-linear-gradient(top, #6f8594, #000000);
  background-image: -moz-linear-gradient(top, #6f8594, #000000);
  background-image: -ms-linear-gradient(top, #6f8594, #000000);
  background-image: -o-linear-gradient(top, #6f8594, #000000);
  background-image: linear-gradient(to bottom, #6f8594, #000000);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.registerButton:hover {
  background: #94bdd6;
  background-image: -webkit-linear-gradient(top, #94bdd6, #417191);
  background-image: -moz-linear-gradient(top, #94bdd6, #417191);
  background-image: -ms-linear-gradient(top, #94bdd6, #417191);
  background-image: -o-linear-gradient(top, #94bdd6, #417191);
  background-image: linear-gradient(to bottom, #94bdd6, #417191);
  text-decoration: none;
}

.btnRegister {
  background-color: #5B7E7C
}

.btn {
  
}

.btn-default {
  color: #5B7E7C;
  background: #5B7E7C;
    padding: 10px 20px;
    border: 0 none;
    font-weight: 700;
    color: #ffffff;
    background: #5B7E7C;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-md {
  color: #5B7E7C;
  background: #5B7E7C;
}
 
.btn-primary {
    background: #98DDD6;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #5B7E7C;
}
 
.btn-primary:active, .btn-primary.active {
    background: #5B7E7C;
    box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #98DDD6;
    color: #98DDD6;
}

.login_text {
  color: blue;
}
