// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#initHeaderBlock {
	background-color:yellow;
	color:black;
}
table#headerTable {
    width: 100%;
}

.initLogin {
	text-align: center;
    color: yellow;
}

td#initTitle {
    text-align: left;
}