// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD
div#initHeaderBlock {
	background-color:yellow;
	color:black;
}
table#headerTable {
    width: 100%;
}

.initLogin {
	text-align: center;
    color: yellow;
}

td#initTitle {
    text-align: left;
=======
div#profile, #major_1, #major_2, #classes {
	margin: 20px;
}

div.stepButton {
	text-align: center
}

.registerButton {
  background: #6f8594;
  background-image: -webkit-linear-gradient(top, #6f8594, #000000);
  background-image: -moz-linear-gradient(top, #6f8594, #000000);
  background-image: -ms-linear-gradient(top, #6f8594, #000000);
  background-image: -o-linear-gradient(top, #6f8594, #000000);
  background-image: linear-gradient(to bottom, #6f8594, #000000);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.registerButton:hover {
  background: #94bdd6;
  background-image: -webkit-linear-gradient(top, #94bdd6, #417191);
  background-image: -moz-linear-gradient(top, #94bdd6, #417191);
  background-image: -ms-linear-gradient(top, #94bdd6, #417191);
  background-image: -o-linear-gradient(top, #94bdd6, #417191);
  background-image: linear-gradient(to bottom, #94bdd6, #417191);
  text-decoration: none;
>>>>>>> 42664ae27976f066eba09666a4192d70e827c547
}