<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!--<style>
  /* Popover */
  .popover {
      border: 2px dotted red;
  }
  /* Popover Header */
  .popover-title {
      background-color: #73AD21; 
      color: #FFFFFF; 
      font-size: 28px;
      text-align:center;
  }
  /* Popover Body */
  .popover-content {
      background-color: coral;
      color: #FFFFFF;
      padding: 25px;
  }
  /* Popover Arrow */
  .arrow {
      border-right-color: red !important;
  }
  </style>-->
</head>
<body>

<div id="course_add">
    <%= form_tag "/main/search_course", :method => "post", :id => "courses" do %>
    <select id="course_dept" name="course_dept">
        <% @dept_list.each do |dept| %>
        <option value="<%=dept['name']%>"><%=dept['name']%></option>
        <% end %>
    </select>
    <%= text_field_tag(:course_num) %> 
    <input type="submit" id="form_submit" class="registerButton btn btn-default btn-sm" value="Search"></input>
    <%end%>
    <button type="button" class="btn btn-default btn-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="To search for multiple courses at once, choose the class department from the dropdown menu and comma separate the course numbers. Ex) Search Bar Input: 106B, 110, 229"><span class="glyphicon glyphicon-info-sign"></span></button>
</div>

<hr>

<div id="course_list"></div>

<script type="text/javascript">
$(document).ready(function() {
  $("#courses").submit(function(event){
    event.preventDefault();
    $.ajax({
            url: $(this).attr("action"),
            type: 'POST',
            data: $(this).serialize(),
            success: function(data) {
                $("#course_list").html(data);
            }
    });  
   });
});
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>


</body>
</html>