<div id="course_add">
    <%= form_tag "/main/search_course", :method => "post", :id => "courses" do %>
    <select id="course_dept" name="course_dept">
        <% @dept_list.each do |dept| %>
        <option value="<%=dept['name']%>"><%=dept['name']%></option>
        <% end %>
    </select>
    <%= text_field_tag(:course_num) %> 
    <input type="submit" id="form_submit" class="registerButton" value="Get Courses"></input>
    <%end%>
</div>

<hr>

<div id="course_list"></div>

<script type="text/javascript">
$(document).ready(function() {
  $("#courses").submit(function(event){
    event.preventDefault();
    $.ajax({
            url: $(this).attr("action"),
            type: 'POST',
            data: $(this).serialize(),
            success: function(data) {
                $("#course_list").html(data);
            }
    });  
   });
});
</script>