<style>
	body {
		background-color: #F5EFDF;
	}
	.class-container {
		border-radius: 25px;
	    border: 2px solid white;
	    padding: 20px; 
	    margin: auto;
	    margin-top: 50px;
	    width: 60%;
	}
	.class-title {
		font-size: 30px;
		font-weight: bold;
	}
	.class-subtitle {
		font-size: 25px;
		font-style: italic;
	}
	.class-instructors {
		font-size: 20px;
		font-style: italic;
	}
	.class-quarters {
		margin-top: 10px;
		color: gray;
	}
	.class-units {
		color: gray;
	}
	.class-grading {
		color: gray;
	}
	.class-description {
		margin-top: 30px;
		color: black;
	}
	.class-prerequisite-container {
		color: black;
		margin-top: 30px;
	}
	.class-prerequisite-title {
		color: black;
		font-weight: bold;
	}
	.class-prerequisite-content {
		color: gray;
	}
</style>
<div>
	<div class="class-container">
		<div class="class-title">CS 194</div>
		<div class="class-subtitle">Class Subtitle</div>
		<div class="class-instructors">Class Instructors</div>
		<div class="class-quarters">Winter Spring</div>
		<div class="class-units">3 units</div>
		<div class="class-grading">Letter or Credit/No Credit</div>
		<div class="class-description">This class is very fun. Wow. It is exciting. ah geujitmal hagi himdulda.</div>
		<div class="class-prerequisite-container">
			<div class="class-prerequisite-title">Class Prerequisite</div>
			<div class="class-prerequisite-content">CS 107 CS 109</div>


		<div>
			<table>
				<tr>
					<td>
				</tr>

			</table>
		</div>

	</div>
</div>