<script type='text/javascript'>
function renderTrackPage(id) {
    document.getElementById('middle').src = 'track?track_id='+ id;
}
</script>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><b>My Track</b></li>
				<% if @my_track!=nil then%>
					<li class="active">
						<%= link_to "javascript:renderTrackPage(" + @my_track.id.to_s + ");" do%>
						<%=@my_track.name%>
						<%end%>
					</li>
				<%end%>
				<li><b>Other Tracks</b></li>
				<% @tracks.each do |track| %>
					<li class="active">
						<%= link_to "javascript:renderTrackPage(" + track.id.to_s + ");" do%>
						<%=track.name%>
						<% end %>
					</li>
				<%end%>
			</ul>
		</div>
		<div>
			<iframe id="middle" class="col-sm-6 col-md-8 main" style="position: absolute; height: 100%;" src="track" frameBorder="0"></iframe>
		</div>

  		<div class="col-sm-3 col-md-2 sidebar pull-right">
  		<h4>Potential Classes</h4>
  		<div id="potential display"></div>
  		</div>
	</div>
</div>