<div>
  <img src="assets/images/stanford.png" alt="logo">
  <%= form_tag("/main/searchClass", :method => "post") do %>
  <%= text_field_tag(:courseID) %>
  <%= submit_tag("Search") %>
  <% end %>
</div> 